
/* --- Contenedores --- */
body {
	background-image: url("../imagenes/fondo.png");
	background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
	font-weight: bold;
}
.contenedor {
	border-radius: 25px;
	background-image: url("../imagenes/fondo-blanco.png");
	width: 85%;
	margin: 0 auto ;
	padding-bottom:2.5%;
	font-weight: bold;
}
.titulo {
	font-weight: 300;
	color:#ffffff;/*;27348A;*/
	background-color:#27348A;
	text-align: left;
	border-radius: 25px 25px 0px 0px;
	padding:15px;
	padding-bottom:15px;
  opacity: 0.7;
	font-size: 2em;
	font-weight: bold;
}
.contenido article {
	padding: 15px;
}

.contenido article p{
color:#27348A;
}
.clientes {
	height: 80%;
  width: 	80%;
}

/* --- Text & align --- */
a:hover {
	text-decoration: underline;
}
.OnePicture{/*One Image is centered*/
	margin-left: auto;
	margin-right: auto;
}
/* --- Footer --- */

footer {
	background: #27348A;
	color: #fff;
	width: 100%;
	height:60px;
	position: relative;
	top:360px;
}
footer hr.border {
	width:100%;
	height:8px;
	border:none;
	margin-bottom: 5px;
	border-top: 2px solid #476b6b;
	background: #fff;
	border-bottom: 2px solid #476b6b;
	margin-left:0%;
	position:relative;
	top:7px;
}
footer hr.border#fhr2 {
	width:100%;
	height:5px;
	border:none;
	margin-bottom: 5px;
	border-top: 2px solid #476b6b;
  background: #fff;
	border-bottom: 2px solid #476b6b;
	margin-left:0%;
	position:relative;
}
footer p{
	text-align: right;
	font-size: 14px;
	background:  #27348A;
	width:100%;
	margin: 0 auto;
	margin-right:15%
}

@media screen and (max-width: 800px) {
body {
		margin:0;
		padding:0;
		position:relative;
		top:-15px;
	}
footer {
		top:50px;
	}

}
