header {
	/*border-top-width: 30px;
	border-top-color: #fff;
	border-top-style: solid;
	top:0;
	background: #DD181C;/*Rojo base*/
	width:100%;
	position: relative;
	z-index:100;
	font-family: 'Myriad', sans-serif;
}

header nav {
	margin: auto;
	/*float: left;*/
	height: auto; /*Junto a overflow: hidden; aplicará a nuestro elemento nav el mismo alto que el más alto de sus elementos hijos */
    /*margin: 0 auto; /* Centro el contenedor */
    text-align: right;
    max-width:1000px;
    width: auto; /* Defino el ancho de mi página */
}

header nav ul {
	width:100%;
	/*margin-left:13%;
	list-style:none;
	/*float: left;*/
}
hr.border {
	border:none;
	border-top: 2px solid #476b6b;
	color:none;
}
header nav ul li {
	/*background: #DD181C;*/
	display:inline-block;
	position:relative;
	top:11px;
	border-radius: 0px 0px 20px 20px;

}

header nav ul li:hover {
	background:#27348A;/*celeste*/
	text-decoration:none;

}

header nav ul li a:hover {
	color:#fff;
	text-decoration:none;
}
header nav ul li a {
	color:#27348A;
	display:block;
	text-decoration:none;
	padding: 10px;
    text-align: center;
}

header nav ul li a span {
	margin-right:10px;

}

header nav ul li:hover .children {
	display:block;
}
.menu_bar #logomini{
 	display:none;
 }

 #logo {


 	position:relative;
 	float:left;
 	margin: auto;
 	top:5.5px;
 	left:10px;
	box-sizing: border-box;
	border-radius: 5px 5px 5px 5px;

 }

 #logo:hover, .bt-menu:hover {
background:#27348A;
border-radius: 5px 5px 5px 5px;

 }

header nav ul li .children {

	display: none;
	/*background:#011826;*/
	position: absolute;
	width: 150%;
	z-index:1000;
	top: 24px;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
	border-radius: 5px 5px 5px 5px;

}

header nav ul li .children li a {
	display: block;

}

header nav ul li .children li a span {
	float: right;
	position: relative;

	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 .menu_bar .bt-menu
 {
 	display: none;
 }


.active a  { /*Resaltar posición en el menú*/
	background:#27348A;
	color:#fff;
	text-decoration:none;
	border-radius: 0px 0px 20px 20px;
}
